.venv/
data/
cache/
.DS_Store
.ipynb_checkpoints/
/assignment_2/facial-emotion-recognition
venv/
assignment_3/klar_for_oppgave_5.csv
/assignment_3/stock-market
assignment_3/boost_anders_data.ipynb
assignment_3/boost_old.ipynb
assignment_3/boost_orig_data.ipynb
assignment_3/boost_XGB.ipynb
assignment_3/boosting.ipynb
assignment_3/test.ipynb
assignment_3/bagging_old.ipynb
/assignment_4/thomas/facial-emotion-recognition
*.pth
